{% extends 'base.html' %}

{% block meta_description %}TSI informatica. Tecnologia e soluCOes em informatica{% endblock %}

{% block title %}TSI - Home{% endblock %}

{% block content %}
<div class="container index-callout-container">
    <img src="./static/images/mesh.jpg" class="img-fluid" alt="Digital mesh background">
    <div class="row">
        <div class="col-12 col-md-6 callout-text">
            <i class="fas fa-wifi"></i>
        </div>
        <div class="col-12 col-md-6 callout-text">
            <h1 class="callout-header">Internet, Redes e outras solucoes em informatica</h1>
        </div>
        <div class="col-12 col-md-6 callout-text">
            <h3>Internet com velocidade de ate XX Megabits por segundo por apenas XX reais! </h3>
            <button type="button" class="btn custom-button callout-button">Saiba mais</button>
        </div>

    </div>
</div>

{% endblock %}